<div class="container" style="padding-top: 20px;">
    <div class="card">
        <div class="card-header">
            <a href="#" style="text-decoration: none;">Leaf Rake</a>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <p>Name:</p>
                        <p>Code:</p>
                        <p>Description:</p>
                        <br>
                        <p>Availability:</p>
                        <p>Price:</p>
                        <p>5 Star Rating:</p>
                    </div>
                    <div class="col-md-3">
                        <p>Laaf Rake</p>
                        <p>GDN-0011</p>
                        <p>Laaf rake with 48-inch wooden handle,</p>
                        <p>March 19,2016</p>
                        <p>$19,95</p>
                        <p>3.2</p>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/img/choi.jfif" alt="" height="" width="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" style="text-decoration: none;"><i class='fas fa-arrow-left'></i> Back</a>
        </div>
    </div>
</div>