<div class="container" style="padding-top: 20px;">
    <div class="card">
        <div class="card-header">
            <a href="#" style="text-decoration: none;">List Product</a>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <p>Filter by:</p>
                        <h2>Filter by:</h2>
                    </div>
                    <div class="col-md-10">
                        <input type="text">
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><button type="button" class="btn btn-primary">Primary</button></th>
                        <th scope="col">Product</th>
                        <th scope="col">Code</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Price</th>
                        <th scope="col">5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/assets/img/choi.jfif" alt="" height="30px" width="50px"></td>
                        <td>Leaf Rake</td>
                        <td>gdn-0011</td>
                        <td>March 19,2016</td>
                        <td>$19,95</td>
                        <td><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/choi.jfif" alt="" height="30px" width="50px"></td>
                        <td>Garden Cart</td>
                        <td>gdn-0023</td>
                        <td>March 18,2016</td>
                        <td>$32,99</td>
                        <td><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i
                                class='fas fa-star'></i></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/choi.jfif" alt="" height="30px" width="50px"></td>
                        <td>Hammer</td>
                        <td>gdn-0048</td>
                        <td>March 18,2016</td>
                        <td>$32,99</td>
                        <td><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i
                                class='fas fa-star'></i><i class='fas fa-star'></i></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/choi.jfif" alt="" height="30px" width="50px"></td>
                        <td>Saw</td>
                        <td>gdn-0023</td>
                        <td>March 18,2016</td>
                        <td>$32,99</td>
                        <td><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i
                                class='fas fa-star'></i></td>
                    </tr>
                    <tr>
                        <td><img src="/assets/img/choi.jfif" alt="" height="30px" width="50px"></td>
                        <td>Video Game Controller</td>
                        <td>gdn-0023</td>
                        <td>March 18,2016</td>
                        <td>$32,99</td>
                        <td><i class='fas fa-star'></i><i class='fas fa-star'></i><i class='fas fa-star'></i><i
                                class='fas fa-star'></i><i class='fas fa-star'></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>